.DS_Store
.venv
.vscode/settings.json
artifacts
**/__pycache__/
out/
lightning_logs/
old_logs
.cache
accuracies*.csv
*.log
*.out
logs
models/AudioCLIP/assets/audioclip.pt
models/AudioCLIP/assets/bpe_simple_vocab_16e6.txt.gz
lightning_logs
skl_logs
.vscode/
